.button {
    width: 220px;
    height: 54px;
    padding: 10px 20px;
    background-color: #3300FF;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
}